.carousel-wrapper {
    padding-top: 32px;
}
main .carousel {
    background-color: #fff;
    border-radius: 4px;
    color: var(--text-color);
}
main .carousel.block   {
    padding: 32px;
}
main .carousel span {
    font-size: 32px;
}
main .carousel > button {
    float: right;
    margin: 0;
    width: 230px;
    text-align: center;
    background-color: transparent;
    color: var(--link-dark);
    font-size: 16px;
    height: 40px;
}
main .carousel > button:hover {
    background-color: #e7e9e9;
    box-shadow: 0 1px 2px 0 rgba(11,12,12,.16);
}
main .carousel a.button.secondary {
    padding-left: 50px;
    padding-right: 50px;
}
main .section.dark .carousel a.button.secondary {
    color: var(--link-dark);
    padding-left: 50px;
    padding-right: 50px;
}
main .section.dark .carousel a.button.secondary:hover {
    color: #fff;
}
main .carousel ul {
    list-style: none;
    margin: 0;
    padding: 32px 0 0 0;
    clear: both;
}
main .carousel ul li {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0 0 0 32px;
    display: none;
}
main .carousel ul li h3 {
    font-weight: 400;
    font-size: 36px;
}
main .carousel ul li.active {
    display: flex;
}
@media (min-width: 900px) {
    main .carousel ul {
        padding-top: 64px;
    }
    main .carousel ul li {
        flex-direction: row;
    }
    main .carousel ul li div {
        width: 50%;
    }
}